
        <h2 id="general_Friday">Friday – August 28</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Guadeloupe</th>
                    <th>La Réunion</th>
                    <th>Martinique</th>
                    <th>Tahiti <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Porquerolles <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Ouessant <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T07:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_SEDEA8">
        <a href="/sessions/SEDEA8">Opening</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T07:50:00Z">09:50</a></td>
                        <td rowspan="1" id="session_PCMPNK">
        <a href="/sessions/PCMPNK">State of Panoramax</a>    <br><span class="speaker">Christian Quest, Adrien Pavie
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T08:40:00Z">10:40</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T09:15:00Z">11:15</a></td>
                        <td rowspan="1" id="session_EGFGRJ">
        <a href="/sessions/EGFGRJ">GeoDesk: The OpenStreetMap toolkit that&#39;s fast, easy and fun</a>    <br><span class="speaker">Martin
    </span>
</td>
<td rowspan="1" id="session_VS9YKN">
        <a href="/sessions/VS9YKN">Structuring road information in open data: a nested Wikidata – OSM – BD TOPO (IGN) architecture co-produced by territorial authorities</a>    <br><span class="speaker">Jean-Louis ZIMMERMANN
    </span>
</td>
<td rowspan="1" id="session_K8XYAN">
        <a href="/sessions/K8XYAN">Sneaking in OSM data into a big old company</a>    <br><span class="speaker">Céline DURUPT, Tristram Gräbener
    </span>
</td>
<td rowspan="2" id="session_WHNUVN">
        <a href="/sessions/WHNUVN">OSM Mapping 101</a>    <br><span class="speaker">Martin Raifer
    </span>
</td>
<td rowspan="1" id="session_TZGRHQ">
        <a href="/sessions/TZGRHQ">Birds of Feather - Self-organised Sessions I</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="1" id="session_KA7YSF">
        <a href="/sessions/KA7YSF">Birds of Feather - Self-organised Sessions II</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T09:50:00Z">11:50</a></td>
                        <td rowspan="1" id="session_UHXHDT">
        <a href="/sessions/UHXHDT">Perspectives on editors</a>    <br><span class="speaker">Pieter Vander Vennet
    </span>
</td>
<td rowspan="2" id="session_SMGDU7">
        <a href="/sessions/SMGDU7">The democratic stakes of mapmaking: a cross-community panel</a>    <br><span class="speaker">Matthieu Chatry
    </span>
</td>
<td rowspan="1" id="session_JDCVGM">
        <a href="/sessions/JDCVGM">One region. 40,000 bus stops. An OSM map at every one.</a>    <br><span class="speaker">Sergio Luke, Florian Lainez
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T10:25:00Z">12:25</a></td>
                        <td rowspan="1" id="session_8V7LYM">
        <a href="/sessions/8V7LYM">Update on attribution enforcement for users of OpenStreetMap servers</a>    <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
<td rowspan="1" id="session_TV9DUV">
        <a href="/sessions/TV9DUV">OpenStreetMap on Board: How We Fit Europe into 300 High-Speed Trains</a>    <br><span class="speaker">Benjamin Demonet
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T11:00:00Z">13:00</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T12:30:00Z">14:30</a></td>
                        <td rowspan="2" id="session_3GRKKJ">
        <a href="/sessions/3GRKKJ">Emergency Services using OpenStreetMap in Germany</a>    <br><span class="speaker">dadavid
    </span>
</td>
<td rowspan="1" id="session_WJFRPV">
        <a href="/sessions/WJFRPV">Announcing MapRoulette 4!</a>    <br><span class="speaker">Martijn van Exel
    </span>
</td>
<td rowspan="1" id="session_93XYRL">
        <a href="/sessions/93XYRL">Lost in hospital? OpenStreetMap to the rescue</a>&nbsp;<span class="chip flag" title="this talk is held in French – présentation en français">🇫🇷</span>    <br><span class="speaker">Daphné Lercier, Lonny Loquesol
    </span>
</td>
<td rowspan="2" id="session_E7G93L">
        <a href="/sessions/E7G93L">Local Chapters &amp; Communities Congress</a>    <br><span class="speaker">Laura Mugeha, Michael Montani, Maggie Cawley, Geoffrey Kateregga
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T13:05:00Z">15:05</a></td>
                        <td rowspan="1" id="session_83LBSJ">
        <a href="/sessions/83LBSJ">From OpenStreetMap APIs to Insightful Data Analysis: Extraction, Analysis, and Mapping with R</a>    <br><span class="speaker">Louis Laurian
    </span>
</td>
<td rowspan="1" id="session_33VMB8">
        <a href="/sessions/33VMB8">Publishing 14,000 Businesses to OpenStreetMap: How Community Feedback Reshaped Our Publisher</a>&nbsp;<span class="chip flag" title="this talk is held in French – présentation en français">🇫🇷</span>    <br><span class="speaker">Digitaleo
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T13:40:00Z">15:40</a></td>
                        <td rowspan="1" id="session_TLGDFF">
        <a href="/sessions/TLGDFF">Do maps have a future in OpenStreetMap?</a>    <br><span class="speaker">Christoph Hormann
    </span>
</td>
<td rowspan="1" id="session_CYVSG9">
        <a href="/sessions/CYVSG9">OSMPID: A Persistent ID Specification and an Object Identity Service</a>    <br><span class="speaker">Stefan Keller
    </span>
</td>
<td rowspan="1" id="session_PKETRT">
        <a href="/sessions/PKETRT">Style-as-Code: Moving Beyond &#34;Off-the-Shelf&#34; to Unlock the Full Richness of OSM Data</a>&nbsp;<span class="chip flag" title="this talk is held in French – présentation en français">🇫🇷</span>    <br><span class="speaker">paul goullencourt
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T14:15:00Z">16:15</a></td>
                        <td colspan="6" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T14:45:00Z">16:45</a></td>
                        <td rowspan="1" id="session_GCP9RW">
        <a href="/sessions/GCP9RW">Client-Side Transport Maps on OpenStreetMap.org</a>    <br><span class="speaker">Andy Allan
    </span>
</td>
<td rowspan="1" id="session_UQF7NY">
        <a href="/sessions/UQF7NY">Mapterhorn Terrain and Imagery</a>    <br><span class="speaker">Oliver Wipfli
    </span>
</td>
<td rowspan="1" id="session_CXXRXD">
        <a href="/sessions/CXXRXD">How Carto’Cité maintains OSM data for 436 train stations efficiently using PostGIS and QGIS</a>    <br><span class="speaker">Antoine Riche
    </span>
</td>
<td rowspan="2" id="session_H8JKNT">
        <a href="/sessions/H8JKNT">Carto&#39;Mission: Bringing Participatory Mapping Off-Screen Through Cooperative Play</a>&nbsp;<span class="chip flag" title="this talk is held in French – présentation en français">🇫🇷</span>    <br><span class="speaker">Coralie Le Bian
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T15:20:00Z">17:20</a></td>
                        <td rowspan="1" id="session_EMMH8Q">
        <a href="/sessions/EMMH8Q">Sourdough and Layercake: removing technical barriers to using OSM data for cartography and analysis</a>    <br><span class="speaker">Jake Low
    </span>
</td>
<td rowspan="1" id="session_HVPZWK">
        <a href="/sessions/HVPZWK">Cartes.app is now international</a>    <br><span class="speaker">Maël THOMAS-QUILLÉVÉRÉ
    </span>
</td>
<td rowspan="1" id="session_8ZWXKA">
        <a href="/sessions/8ZWXKA">Lightning Talks I</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-28T15:55:00Z">17:55</a></td>
                        <td rowspan="1" id="session_MKKGG9">
        <a href="/sessions/MKKGG9">MapLibre - from data to rendering, in one status update</a>    <br><span class="speaker">Yuri Astrakhan, Frank Elsinga
    </span>
</td>
<td rowspan="1" id="session_GJWH7J">
        <a href="/sessions/GJWH7J">State of OpenHistoricalMap: mapping the world&#39;s history, openly</a>    <br><span class="speaker">Ruben Lopez Mendoza, Minh Nguyễn
    </span>
</td>
<td rowspan="1" id="session_H9VJ7S">
        <a href="/sessions/H9VJ7S">National Mapping and Cadastral agencies (NMCAs) and their relationship with OSM: the example of the German BKG</a>    <br><span class="speaker">Konstantin Krömer, Peregrina Blumhoff
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
             </tbody>
        </table>
        <h2 id="general_Saturday">Saturday – August 29</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Guadeloupe</th>
                    <th>La Réunion</th>
                    <th>Martinique</th>
                    <th>Corse</th>
                    <th>Tahiti <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Porquerolles <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Ouessant <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T07:30:00Z">09:30</a></td>
                        <td rowspan="2" id="session_CWT8FR">
        <a href="/sessions/CWT8FR">The Republic of Maps : Together, let&#39;s unlock the power of maps to build democracy</a>    <br><span class="speaker">Matthieu Chatry
    </span>
</td>
<td rowspan="1" id="session_X7EKQG">
        <a href="/sessions/X7EKQG">Reviewing OSM Changes Before Integration: Introducing LeBonTag</a>    <br><span class="speaker">Bruno Béguin, Mathieu Ambrosy
    </span>
</td>
<td rowspan="1" id="session_PAF7YC">
        <a href="/sessions/PAF7YC">OSM Science 2026: Introduction</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Yair Grinberger
    </span>
</td>
<td rowspan="1" id="session_8SKDAR">
        <a href="/sessions/8SKDAR">OSM Skeleton: Completing the Backbone of OSM Data</a>    <br><span class="speaker">Séverin Ménard
    </span>
</td>
<td rowspan="6" id="session_JUPZXH">
        <a href="/sessions/JUPZXH">Awesome JOSM: tips that beat every Desktop GIS and AI</a>    <br><span class="speaker">Enock Seth Nyamador
    </span>
</td>
<td rowspan="1" id="session_TWZ7TJ">
        <a href="/sessions/TWZ7TJ">Birds of Feather - Self-organised Sessions III</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="1" id="session_CZ9LKA">
        <a href="/sessions/CZ9LKA">Birds of Feather - Self-organised Sessions IV</a>    <br><span class="speaker">
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T08:05:00Z">10:05</a></td>
                        <td rowspan="4" id="session_QJJS3X">
        <a href="/sessions/QJJS3X">Creating maps for the outdoors community in France: successes and challenges</a>    <br><span class="speaker">StC
    </span>
</td>
<td rowspan="1" id="session_X89Y8Y">
        <a href="/sessions/X89Y8Y">Mapping Informal Settlements with OpenStreetMap Data: Integrating Urban Morphology and Topology for Slum Detection</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Lucia Mabel van der Heijden
    </span>
</td>
<td rowspan="4" id="session_YFBLXL">
        <a href="/sessions/YFBLXL">OSM for Cities: Breaking the data waste cycle</a>    <br><span class="speaker">Vitor George
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T08:10:00Z">10:10</a></td>
                        <td></td><td rowspan="1" id="session_KFDLAR">
        <a href="/sessions/KFDLAR">MyGreenSpace : Relying on Open Data to Characterize the Health Potential of Urban Green Spaces</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Marion Porcherie
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T08:15:00Z">10:15</a></td>
                        <td></td><td rowspan="1" id="session_CTNPQJ">
        <a href="/sessions/CTNPQJ">Indoor Mapping Potential in OpenStreetMap: Estimating the Amount of Publicly Accessible Indoor Spaces Across European Cities</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Helga Tauscher, Nomin Enkhtamir
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T08:20:00Z">10:20</a></td>
                        <td></td><td rowspan="1" id="session_TDMGNZ">
        <a href="/sessions/TDMGNZ">Towards an OpenStreetMap-based open database of transversal torrent control structures in the Alpine arc</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Alessandro Sarretta
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T08:25:00Z">10:25</a></td>
                        <td></td><td></td><td rowspan="1" id="session_EUWM8V">
        <a href="/sessions/EUWM8V">Mapping the City in the Rhythm of Colours and Sounds: OpenStreetMap as a Basis for Multisensory Civic Cartography</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Paweł Struś
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T08:40:00Z">10:40</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T09:15:00Z">11:15</a></td>
                        <td rowspan="1" id="session_LT3DRY">
        <a href="/sessions/LT3DRY">MOTIS (open source routing engine)</a>    <br><span class="speaker">Felix Gündling, Robin Durner
    </span>
</td>
<td rowspan="1" id="session_E3WQWG">
        <a href="/sessions/E3WQWG">A Swiss Army knife for geographical data voxelization</a>    <br><span class="speaker">Pierre-Yves Rollo, Théo SZANTO
    </span>
</td>
<td rowspan="1" id="session_V9ASNX">
        <a href="/sessions/V9ASNX">CartAGen, an innovative tool to generalise OSM data</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Paul Bourcier, Guillaume Touya
    </span>
</td>
<td rowspan="1" id="session_KVZZWR">
        <a href="/sessions/KVZZWR">Centipede-RTK with RTKBase and Millipede: centimeter-level GNSS positioning</a>    <br><span class="speaker">Pierre Beyssac
    </span>
</td>
<td rowspan="2" id="session_XLETVQ">
        <a href="/sessions/XLETVQ">From Bits to Pixels: Introduction to Map Making with OSM Data and MapLibre</a>    <br><span class="speaker">Bart Louwers, Yuri Astrakhan
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T09:50:00Z">11:50</a></td>
                        <td rowspan="1" id="session_3WLKJ9">
        <a href="/sessions/3WLKJ9">Transitous - Free and Open Public transport routing</a>    <br><span class="speaker">Volker Krause
    </span>
</td>
<td rowspan="1" id="session_XQUCJM">
        <a href="/sessions/XQUCJM">OSM2World: 3D models from OpenStreetMap data</a>    <br><span class="speaker">Tobias Knerr
    </span>
</td>
<td rowspan="1" id="session_KUEYVB">
        <a href="/sessions/KUEYVB">Reconstructing A High-detailed Lane-Level Road Network Model from OpenStreetMap: A Connectivity-Driven Approach</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Chengzhi Rao
    </span>
</td>
<td rowspan="1" id="session_SFXJZM">
        <a href="/sessions/SFXJZM">How OSM inspire CEN standards for cycling infrastructure</a>    <br><span class="speaker">Tu-Tho Thai
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T10:25:00Z">12:25</a></td>
                        <td rowspan="1" id="session_ZR8RTX">
        <a href="/sessions/ZR8RTX">OSRM is Back: Revitalizing the OSM-Native Routing Engine</a>    <br><span class="speaker">Dennis Luxen
    </span>
</td>
<td rowspan="1" id="session_YEGCPU">
        <a href="/sessions/YEGCPU">Immersing Panoramax in the 3D world</a>    <br><span class="speaker">Vincent Picavet
    </span>
</td>
<td rowspan="1" id="session_HYKXYK">
        <a href="/sessions/HYKXYK">Towards a Real-Time Monitoring System for the Road Network Based on OpenStreetMap and Remote Sensing Data: OSM Road Monitor</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Carla
    </span>
</td>
<td rowspan="1" id="session_WGMV3T">
        <a href="/sessions/WGMV3T">Making a living on OSM by nurturing the commons : inside the French Federation of OSM professionals</a>    <br><span class="speaker">Marina Petkova, Florian Lainez
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T11:00:00Z">13:00</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T12:20:00Z">14:20</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Group Photo</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T12:30:00Z">14:30</a></td>
                        <td rowspan="1" id="session_ZXBHXD">
        <a href="/sessions/ZXBHXD">Construction ahead</a>    <br><span class="speaker">Minh Nguyễn, Pablo Brasero, Ruben Lopez Mendoza
    </span>
</td>
<td rowspan="2" id="session_GXXCFE">
        <a href="/sessions/GXXCFE">Why do you contribute to OSM?</a>    <br><span class="speaker">Michael Montani
    </span>
</td>
<td rowspan="1" id="session_VQFXXL">
        <a href="/sessions/VQFXXL">Mapping and using OpenStreetMap to Improve Geographic Access to Healthcare in Rural Madagascar</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Andres Garchitorena
    </span>
</td>
<td rowspan="1" id="session_LDQTKQ">
        <a href="/sessions/LDQTKQ">Lightning Talks II</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="2" id="session_EKTQAD">
        <a href="/sessions/EKTQAD">Introduction to OSM Analytics with ohsome</a>    <br><span class="speaker">Rafael Troilo, Michael Auer
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T13:05:00Z">15:05</a></td>
                        <td rowspan="1" id="session_EFTDVX">
        <a href="/sessions/EFTDVX">Upgrading the OSM Front Page</a>    <br><span class="speaker">Frank Elsinga
    </span>
</td>
<td rowspan="1" id="session_XHEEYA">
        <a href="/sessions/XHEEYA">Inter-Faceing the Critique – A Socio-technical Perspective on Humanitarian Mapping with the HOT TM</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Charlotte Liebel
    </span>
</td>
<td rowspan="1" id="session_L9CZPJ">
        <a href="/sessions/L9CZPJ">Putting Childcare on the Map: Supporting Parents in Nairobi Through OpenStreetMap</a>    <br><span class="speaker">Maurine Oyugi
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T13:40:00Z">15:40</a></td>
                        <td rowspan="4" id="session_7ED7WQ">
        <a href="/sessions/7ED7WQ">Running OpenStreetMap.org in the Age of AI</a>    <br><span class="speaker">Grant Slater
    </span>
</td>
<td rowspan="4" id="session_GFUTGL">
        <a href="/sessions/GFUTGL">&#34;Tous EGO&#34; University mapping project for accessibility</a>    <br><span class="speaker">Gwenaëlle Chalm
    </span>
</td>
<td rowspan="1" id="session_AQVAYA">
        <a href="/sessions/AQVAYA">OpenStreetMap for Intelligent Speed-Limit Assistance (ISA): The YouSpeed.de Study</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Raphael Volz
    </span>
</td>
<td rowspan="4" id="session_VUYNMB">
        <a href="/sessions/VUYNMB">When Maps Mislead: Lessons from Outdoor Navigation with OpenStreetMap</a>    <br><span class="speaker">Jakub Zmrzlik
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T13:45:00Z">15:45</a></td>
                        <td rowspan="1" id="session_EYA7UN">
        <a href="/sessions/EYA7UN">OpenStreetMap for Travel Demand Modeling: An Open Approach to Derive Attractiveness for Destination Choice Models</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Christian Klinkhardt, gabrielwilkes
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T13:50:00Z">15:50</a></td>
                        <td rowspan="1" id="session_LA3WRV">
        <a href="/sessions/LA3WRV">Public transport stop analysis for OSM and Welzl&#39;s algorithm on the sphere</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Jens Flemming
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T13:55:00Z">15:55</a></td>
                        <td rowspan="1" id="session_FPWSB8">
        <a href="/sessions/FPWSB8">Assessing the Intrinsic Data Quality of OpenStreetMap for National-Scale Cycling Network Analysis</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Vanessa Bolognani
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T14:00:00Z">16:00</a></td>
                        <td></td><td></td><td rowspan="1" id="session_CAPXCT">
        <a href="/sessions/CAPXCT">OpenStreetMap Data for Spatial Regression Modeling of Urban Operating Speed</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Rafael Szeliga
    </span>
</td>
<td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T14:15:00Z">16:15</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T14:45:00Z">16:45</a></td>
                        <td rowspan="1" id="session_VGGXRJ">
        <a href="/sessions/VGGXRJ">Clearance: Quality Proxy for OSM Replication. The Roadmap up to v1.0</a>    <br><span class="speaker">Frédéric Rodrigo
    </span>
</td>
<td rowspan="2" id="session_7Z7PZM">
        <a href="/sessions/7Z7PZM">Text with a purpose - building the image of the world for blind users through structured and complete POI data</a>    <br><span class="speaker">Pawel Masarczyk
    </span>
</td>
<td rowspan="1" id="session_FLYV3H">
        <a href="/sessions/FLYV3H">Whose Knowledge Counts? Analysing Diversity and Exclusion in OpenStreetMap&#39;s Tagging Proposals Process</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Carlos Cámara
    </span>
</td>
<td rowspan="1" id="session_DTQXXN">
        <a href="/sessions/DTQXXN">How OpenStreetMap became the backbone of France&#39;s National Cycling Database</a>    <br><span class="speaker">Samuel Deschamps-Berger
    </span>
</td>
<td rowspan="2" id="session_TUDVSJ">
        <a href="/sessions/TUDVSJ">Let&#39;s create links between OSM and Wikipedia!</a>    <br><span class="speaker">Delphine Montagne
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T15:20:00Z">17:20</a></td>
                        <td rowspan="1" id="session_VPACJY">
        <a href="/sessions/VPACJY">Adopt Your Town</a>    <br><span class="speaker">Giacomo Alessandroni
    </span>
</td>
<td rowspan="1" id="session_MWCJFD">
        <a href="/sessions/MWCJFD">Consumed at Scale: AI-Driven Extraction and the Political Economy of OpenStreetMap</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Hannah Boettcher
    </span>
</td>
<td rowspan="1" id="session_DWSETV">
        <a href="/sessions/DWSETV">Lightning Talks III</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T15:55:00Z">17:55</a></td>
                        <td rowspan="1" id="session_BY7FZ7">
        <a href="/sessions/BY7FZ7">The Power of quality in OpenStreetMap</a>    <br><span class="speaker">François Lacombe, Marina Petkova, Tobias Augspurger
    </span>
</td>
<td rowspan="1" id="session_NHDJM3">
        <a href="/sessions/NHDJM3">Search and find what you are looking for</a>    <br><span class="speaker">Sarah Hoffmann
    </span>
</td>
<td></td><td rowspan="1" id="session_9C7LJM">
        <a href="/sessions/9C7LJM">A new stack for OpenStreetMap vector tiles</a>    <br><span class="speaker">Matt White
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-29T17:30:00Z">19:30</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak"><a href="social_event">Social Event at Musée des Arts et Métiers</a></td>
                                            </tr>
             </tbody>
        </table>
        <h2 id="general_Sunday">Sunday – August 30</h2>
        <table class="scheduleTable">
            <thead>
                <tr>
                    <th>Time (local)</th>
                    <th>Guadeloupe</th>
                    <th>La Réunion</th>
                    <th>Martinique</th>
                    <th>Tahiti <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Porquerolles <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Ouessant <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                    <th>Outdoor Workshops <span class="chip norecording" title="Sessions in this room will not be recorded."><img class="noRecordingDark" src="/img/novideo-dark.svg" height="25" alt="no recording"></span></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T07:30:00Z">09:30</a></td>
                        <td rowspan="1" id="session_JBF9HX">
        <a href="/sessions/JBF9HX">Panoramax Netherlands</a>    <br><span class="speaker">Bas Bussink
    </span>
</td>
<td rowspan="1" id="session_NRPPPV">
        <a href="/sessions/NRPPPV">Where are my ways?</a>    <br><span class="speaker">Michael Reichert
    </span>
</td>
<td rowspan="1" id="session_JC87RR">
        <a href="/sessions/JC87RR">Corporate Editing and Collective Intelligence in OpenStreetMap: A Long-Term Analysis of Southeast Asian Case Studies</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Yair Grinberger
    </span>
</td>
<td rowspan="2" id="session_EPRSWT">
        <a href="/sessions/EPRSWT">Future of the OpenStreetMap Foundation</a>    <br><span class="speaker">Roland Olbricht
    </span>
</td>
<td rowspan="1" id="session_3WH9XX">
        <a href="/sessions/3WH9XX">Birds of Feather - Self-organised Sessions V</a>    <br><span class="speaker">
    </span>
</td>
<td rowspan="1" id="session_AZB3XP">
        <a href="/sessions/AZB3XP">Birds of Feather - Self-organised Sessions VI</a>    <br><span class="speaker">
    </span>
</td>
<td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T08:05:00Z">10:05</a></td>
                        <td rowspan="1" id="session_RYFJC7">
        <a href="/sessions/RYFJC7">50 States (and at Least as Many Mappers): Community Building in the US Over the Last Decade</a>    <br><span class="speaker">Alyssa Castronuovo, Maggie Cawley
    </span>
</td>
<td rowspan="1" id="session_DDJRVU">
        <a href="/sessions/DDJRVU">CoMaps - How to make a community-based map &amp; navigation app based on OpenStreetMap</a>    <br><span class="speaker">Bastian Greshake Tzovaras, Diego Miguel Lozano
    </span>
</td>
<td rowspan="1" id="session_3PBPMG">
        <a href="/sessions/3PBPMG">Detection and Semantic Annotation of Changes in OpenStreetMap Data</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Camille Bernard, PedroPinheiro
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T08:40:00Z">10:40</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T09:15:00Z">11:15</a></td>
                        <td rowspan="1" id="session_WXZR7C">
        <a href="/sessions/WXZR7C">Moving around with OpenStreetMap</a>    <br><span class="speaker">Julien Coupey
    </span>
</td>
<td rowspan="1" id="session_XDLP7V">
        <a href="/sessions/XDLP7V">Lightning Talks IV</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td rowspan="1" id="session_KYSVEE">
        <a href="/sessions/KYSVEE">Assessing Data Completeness in OpenStreetMap using the Geometrical and Temporal Properties of Mapping Patterns</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Eliya Levin
    </span>
</td>
<td rowspan="2" id="session_NPZRV9">
        <a href="/sessions/NPZRV9">Experience centimeter accuracy surveying with the open network Centipede-RTK</a>&nbsp;<span class="chip flag" title="this talk is held in French – présentation en français">🇫🇷</span>    <br><span class="speaker">Stéphane Péneau
    </span>
</td>
<td></td><td></td><td rowspan="7" id="session_NJNJKN">
        <a href="/sessions/NJNJKN">StreetComplete walk</a>    <br><span class="speaker">Mateusz Konieczny
    </span>
</td>
                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T09:50:00Z">11:50</a></td>
                        <td rowspan="1" id="session_C3LEQ9">
        <a href="/sessions/C3LEQ9">Making world spinning faster - How we sped up Valhalla graph creation in 3 times</a>    <br><span class="speaker">Stefan Kizim
    </span>
</td>
<td rowspan="1" id="session_FJYCMJ">
        <a href="/sessions/FJYCMJ">UN Mappers: Building Local Capacities and Communities to Support Peace with OpenStreetMap</a>    <br><span class="speaker">Laura Mugeha, Diego Gonzalez Ferreiro
    </span>
</td>
<td rowspan="1" id="session_7HWF8H">
        <a href="/sessions/7HWF8H">Global Mining Activity in OpenStreetMap: Methodological Challenges and Data Quality Analysis</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Pierre-Olivier Mazagol
    </span>
</td>
<td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T10:25:00Z">12:25</a></td>
                        <td></td><td></td><td rowspan="1" id="session_EL3XUW">
        <a href="/sessions/EL3XUW">From centroid to entrance: a global assessment of POI access locations for accessibility</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Pierre-Leo Bourbonnais, Yannick Brosseau
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T10:30:00Z">12:30</a></td>
                        <td></td><td></td><td rowspan="1" id="session_NTXXN8">
        <a href="/sessions/NTXXN8">OSM contribution analysis in war time</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Amine Chebil, Raphaël Bres, Malek Rihani
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T10:35:00Z">12:35</a></td>
                        <td rowspan="3" id="session_RU3UY3">
        <a href="/sessions/RU3UY3">Handling Temporary Closures in OpenStreetMap</a>    <br><span class="speaker">Matteo
    </span>
</td>
<td rowspan="3" id="session_S9MD3B">
        <a href="/sessions/S9MD3B">Milan to Paris via Dundee: ohsome 2.0 has arrived!</a>    <br><span class="speaker">Benjamin Herfort
    </span>
</td>
<td rowspan="1" id="session_YNRWXR">
        <a href="/sessions/YNRWXR">Revealing past railway networks from OSM data</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Robert Jeansoulin, Philippe Gambette
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T10:40:00Z">12:40</a></td>
                        <td rowspan="1" id="session_LKLQFT">
        <a href="/sessions/LKLQFT">StreetMeasure - A low cost open source framework using monocular depth estimation supporting OSM measurement tags from 360 streetview photos, the case of SP6</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Quang Huy NGUYEN, Federica Gaspari
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T10:45:00Z">12:45</a></td>
                        <td rowspan="1" id="session_UNTDRT">
        <a href="/sessions/UNTDRT">Terraink: Lowering Barriers to OpenStreetMap Data Consumption - A Usage Study of an Open-Source Web Application</a>&nbsp;<span class="chip academic" title="academic talk">🎓</span>    <br><span class="speaker">Yousif Amanuel
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T11:00:00Z">13:00</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Lunch Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T12:30:00Z">14:30</a></td>
                        <td rowspan="2" id="session_LPJ9S7">
        <a href="/sessions/LPJ9S7">OSMF Board AMA</a>    <br><span class="speaker">Laura Mugeha, Héctor Ochoa Ortiz
    </span>
</td>
<td rowspan="1" id="session_MRSUBA">
        <a href="/sessions/MRSUBA">Here be Rainbows: LGBTQ mapping in OSM</a>    <br><span class="speaker">Amanda McCann, Erica &#39;spughetti&#39; Temp
    </span>
</td>
<td rowspan="1" id="session_ZRRUJU">
        <a href="/sessions/ZRRUJU">Making maps with Ultra</a>    <br><span class="speaker">Daniel Schep
    </span>
</td>
<td rowspan="2" id="session_G9GXNA">
        <a href="/sessions/G9GXNA">Let&#39;s create your own JOSM paint style!</a>    <br><span class="speaker">Patrik Brigant
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T13:05:00Z">15:05</a></td>
                        <td rowspan="1" id="session_RY8MQP">
        <a href="/sessions/RY8MQP">1000 ways to kill OpenStreetMap in Ghana and elsewhere in Africa</a>    <br><span class="speaker">Enock Seth Nyamador
    </span>
</td>
<td rowspan="1" id="session_WYKG8T">
        <a href="/sessions/WYKG8T">Lightning Talks V</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T13:40:00Z">15:40</a></td>
                        <td rowspan="1" id="session_VUTQVY">
        <a href="/sessions/VUTQVY">Wonders of OSM</a>    <br><span class="speaker">CapitaineMoustache
    </span>
</td>
<td rowspan="1" id="session_HJLK8U">
        <a href="/sessions/HJLK8U">OSMSG : OpenStreetMap User Group Hashtag Stats</a>    <br><span class="speaker">Kshitij Raj Sharma, Gaurav Baral, Niruta Neupane
    </span>
</td>
<td rowspan="1" id="session_GSZW7S">
        <a href="/sessions/GSZW7S">UseOSM: Promoting OpenStreetMap Data Usage and Impact Through an Open and Accessible Web Platform</a>    <br><span class="speaker">Victor Ademoyero, Emmanuel Jolaiya
    </span>
</td>
<td></td><td></td><td></td><td></td>                    </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T14:15:00Z">16:15</a></td>
                        <td colspan="7" class="fill-darken0 scheduleBreak">Coffee Break</td>
                                            </tr>
                    <tr>
                        <td class="fill-darken0"><a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=2026-08-30T14:45:00Z">16:45</a></td>
                        <td rowspan="1" id="session_RHY7NP">
        <a href="/sessions/RHY7NP">Closing</a>    <br><span class="speaker">SotM Working Group
    </span>
</td>
<td></td><td></td><td></td><td></td><td></td><td></td>                    </tr>
             </tbody>
        </table>

