body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: {{ site.color.text }};
    background-color: {{ site.color.background-light }};
    background: #002b5e linear-gradient(to right, #1e1ec3 0%, #002b5e 25%) repeat-y;
}

html {
    width: 100%;
    height: 100%;
}

.page {
  background-color: {{ site.color.primary-light }};
  color: {{ site.color.text }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    letter-spacing: 1px;
}

h1 {
  font-size: 36px;
  font-weight: 900;
  color: {{ site.color.text }};
  font-family: "Righteous", sans-serif;
}

h2 {
  font-size: 28px;
  font-weight: 900;
  color: {{ site.color.text }};
}

h3 {
  font-size: 20px;
  font-weight: 800;
  color: {{ site.color.text }};
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

h4 {
  font-size: 18px;
  font-weight: 700;
  color: {{ site.color.text }};
}

h5 {
  font-size: 17px;
  font-weight: 700;
  color: {{ site.color.text }};
}

.prose h2 {
  padding-top: 80px;
  margin-top: -40px;
}
.prose h2:first-child {
  padding-top: 80px;
  margin-top: -80px;
}

.prose table + p {
  margin-top: 20px;
}

div.affix {
  width: 25%;
  max-width: 300px;
  padding-right: 1em;
  overflow: auto;
  bottom: 0;
  height: 80%;
  height: calc(100% - 120px);
  width: calc(25% - 20px);
  max-width: 280px;
}

@media(max-width:767px) {
  .prose h2:first-child {
    padding-top: 0px;
    margin-top: 0;
  }

  div.affix {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

  #toc {
    display: none;
  }
}

.uppercase {
    text-transform: uppercase;
}

.navbar, .navbar a, .navbar a:hover {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: {{ site.color.links-light }};
}

.top-nav-collapse, .top-nav-collapse a, .top-nav-collapse a:hover,
.navbar.stay-collapsed, .navbar.stay-collapsed a, .navbar.stay-collapsed a:hover {
    color: {{ site.color.links }};
}


nav a, .nav a {
    text-decoration: none;
    font-weight: 500;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a {
  color: {{ site.color.text }};
  text-decoration: underline;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: {{ site.color.text }};
}

footer a {
    color: {{ site.color.links-light }};
}

footer a:hover,
footer a:focus,
.page a:hover,
.page a:focus {
    opacity: 0.8;
}

.navbar-custom {
    letter-spacing: 1px;
    margin-bottom: 0;
    border-bottom: 2.5px solid {{ site.color.links }};
    background-color: {{ site.color.primary-dark }};
    font-weight: 500;
}

@media(max-width:766px) {
  .navbar-custom {
      background-color: {{ site.color.primary-light }};
  }
}

.navbar-custom .navbar-brand {
    font-weight: normal;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 700;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    outline: 0;
    background-color: rgba(255,255,255,.15);
}

.navbar-custom .nav li a.active {
    outline: 0;
    background-color: rgba(255,255,255,.05);
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }

    .top-nav-collapse, .stay-collapsed {
        padding: 0;
        /*background-color: {{ site.color.primary-light }};*/
        background-color: white;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        border-bottom: 2.5px solid {{ site.color.links }};
    }

    .navbar-custom.top-nav-collapse {
        /*background-color: {{ site.color.primary-light }};*/
        background-color: white;
        background-position-x: center;
        background-position-y: top;
        background-size: cover;
        border-bottom: 2.5px solid {{ site.color.links }};
    }

    .navbar a {
        filter: drop-shadow(0 0 0.4px #333) drop-shadow(0 0 1.6px black);
    }

    .navbar.stay-collapsed a,
    .navbar-custom.top-nav-collapse a {
        background: linear-gradient(to bottom, #d61b23 0%, #87090f 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .navbar a:hover {
        filter: drop-shadow(0 0 1.4px black);
    }

    a.navbar-brand {
        display: inline-block;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    .navbar-custom.top-nav-collapse a, .stay-collapsed a,
    .navbar-custom.top-nav-collapse a:hover, .stay-collapsed a:hover {
        opacity: 1;
        width: auto;
        filter: none;
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    position: relative;
    background-image: url(./img/iledelacite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: top;
    background-position-x: right;
    border-bottom: 25px solid white;
}

@supports (background-image: url(./img/iledelacite.webp)) {
  .intro {
    background-image: url(./img/iledelacite.webp);
  }
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .logo {
    font-size: 40px;
    text-align: center;
    display: block;
    width: auto;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px;
    /*float: left;*/
    position: absolute;
    top: 25%;
    right: 50%;
    margin-right: -200px;
}

.intro .intro-body .logo > img {
    width: 300px;
    display: block;
}

.intro .intro-body .logo > h1 {
    max-width: 300px;
    margin-top: 20px;
    color: {{ site.color.text-light }};
    display: none;
}

.intro .intro-body .attending {
    text-align: center;
    display: inline-block;
    width: 75%;
    border-radius: 8px;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 1.5em 2em;
    color: black;
    background-color: {{ site.color.primary-light }};
}
.intro .intro-body .attending img {
    width: 12em;
    height: auto;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}
.intro .intro-body .attending p {
  text-align: left;
}
.intro .intro-body ul {
    margin-left: 1em;
    list-style-type: disc;
    text-align: left;
}
.intro .intro-body ul li {
  margin-bottom: 0.33em;
}

.credits {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    filter: drop-shadow(0 0 1.1px black);
    text-align: right;
}
.intro .credits {
    bottom: 35px;
    right: 30px;
}

.credits a {
    color: white;
    text-decoration: none;
}

div.img-with-credits {
    position: relative;
}

header.intro .credits {
    /*position: fixed;*/
}

@media(max-width:766px) {
    header.intro {
        background-attachment: local;
        position: relative;
        background-position-x: left 20%;
        height: 420px;
        margin-top: 50px;
    }
    header.intro h1 {
      display: none;
    }
    header.intro .intro-body .logo {
        left: 10%;
        position: absolute;
        top: 0px;
        border-radius: 0;
    }
    header.intro .logo a.btn {
        visibility: hidden;
    }

    .youtube-teaser {
      width: 100%;
      height: auto;
    }
}

@media(min-width:767px) {
    .intro {
        height: 80%;
        padding: 0;
    }

    .intro .intro-body .logo {
        font-size: 100px;
        padding-bottom: 30px;
        /*margin-left: 8%;
        float: right;*/
        /*margin-top: 100px;*/
        margin-bottom: 100px;
    }
    .intro .intro-body .attending img {
        float: right;
    }

    .youtube-teaser {
      width: 560px;
      max-width: 100%;
      height: 315px;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 14px 13px;
    border-radius: 35px;
    font-size: 40px;
    color: {{ site.color.text }};
    background-color: {{ site.color.primary-dark }};
    -webkit-transition: background .3s ease-in-out, text .3s ease-in-out;
    -moz-transition: background .3s ease-in-out, text .3s ease-in-out;
    transition: background .3s ease-in-out, text .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: {{ site.color.primary-light }};
    color: {{ site.color.text-light }};
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: {{ site.color.primary-dark }};
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 300px;
}

#map.front {
    border-top: 15px solid white;
    border-bottom: 15px solid white;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 200px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
    }
}

.btn {
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: {{ site.color.primary-dark }};
    background-color: {{ site.color.links }};
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    color: {{ site.color.links-light }};
}

footer p {
    margin: 0;
}

footer img.logo {
  margin-top: -30px;
  margin-bottom: -10px;
}

@media only screen and (max-width: 767px) {
    footer img.logo {
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}



/* About
------------------------------------------------------- */
#about {
  background-color: {{ site.color.primary-dark }};
  background: linear-gradient(to right, #1e1ec3 0%, #002b5e 25%);
}
#about.keyline-top {
}
#about.keyline-bottom {
}

#about .logo {
  margin-top: 40px;
  text-align: center;
}

#about h3 {
  text-decoration: none;
}

.dotted {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  z-index: 0;
}

h3.small-title {
    color: {{ site.color.link }};
    position: relative;
    margin-bottom: 25px;
    font-size: 20px;
}

h3.small-title:before {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: {{ site.color.primary-light }};
    position: absolute;
    bottom: -13px;
    left: 0px;
}

.keyline-bottom-thick {
    padding-bottom: 10px;
}
.keyline-bottom-thick:before {
    content: '';
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: {{ site.color.primary-light }};
    position: absolute;
    bottom: -9px;
    left: 0px;
}

.icon:before {
  line-height: inherit;
}

svg.icon {
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-bottom: -4px;
}

#about h4 {
  font-size: 100%;
  margin-bottom: 0.25em;
}
#about small,
#about li {
  font-size: 85%;
}



/* Newsletter
------------------------------------------------------- */
#newsletter, #streaming, #tickets {
    background-color: {{ site.color.primary-light }};
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: {{ site.color.text-light }};
}

#newsletter a, #streaming a {
    color: {{ site.color.text-light }};
}

.with-icon input[type=email] {
    padding-left: 36px;
    font-size: 17px;
    color: #222;
}

.dark textarea:focus, .dark input[type=password]:focus, .dark input[type=text]:focus, .dark input[type=date]:focus, .dark input[type=email]:focus, .dark input[type=number]:focus {
    border-color: rgba(255,255,255,0.75);
    color: #7E91FF;
}

#tickets p {
  max-width: 66%;
  margin-left: auto;
  margin-right: auto;
}

#tickets .button {
    background-color: {{ site.color.primary-dark }};
    font-size: 16px;
    text-decoration: none;
    color: {{ site.color.text }};
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#newsletter .button {
    background-color: {{ site.color.primary-dark }};
    color: {{ site.color.links-white }};
    font-size: 17px;
}

#newsletter .button:hover, #newsletter .button.active {
    opacity: 0.9;
    color: {{ site.color.links }};
}

.input-pull .dot-button:hover {
    background-color: #04021e !important;
}


#footer {
    font-size: 15px;
    line-height: 1.75em;
    background-color: {{ site.color.primary-light }};
    background: linear-gradient(to bottom, #87090f 0%, #87090f 100%);
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    border-top: 25px solid white;
}

#footer a {
}

#footer a.light {
    font-weight: normal;
}

.map-container {
    position: relative;
}

/* Navigation
------------------------------------------------------- */

nav {
  font-size: 15px;
}
nav .navbar-brand {
  font-size: 18px;
}

.navbar-brand {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-toggle {
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 4px;
}

/* table of contents */

#toc ul li {
  margin-bottom: 0;
}
.programme #toc ul li {
  display: inline-block;
  background-color: {{ site.color.primary-light }};
  border: 1.5px solid {{ site.color.primary-light }};
  border-radius: 5px;
  margin-right: 10px;
}

#toc li a {
  padding: 6px 12px;
}

#toc li a:hover, #toc li a:focus {
  background-color: rgba(0, 0, 0, .05);
}

#toc li.active a:after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: {{ site.color.primary-light }};
  position: absolute;
  bottom: 0px;
}

#toc ul {
  margin-left: 20px;
}

#toc ul li a {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}


/* Sponsors
------------------------------------------------------- */

#sponsors {
    background-color: {{ site.color.primary-dark }};
    background: linear-gradient(to right, #1e1ec3 0%, #002b5e 25%);
    color: {{ site.color.text }};
}

#sponsoring-interested {
    padding-bottom: 80px;
    @media only screen and (max-width: 767px) {
        padding-bottom: 40px;
    }
}

#sponsors a img {
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    filter: grayscale(1) invert(1);
    display: inline-block;
    max-width: 100%;
}

#sponsors .sponsor img {
  filter: none;
}

#sponsors a {
    color: {{ site.color.text }};
}

#sponsors a:hover {
    opacity: .7;
}

#sponsors a.sponsor {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    width: 160px;
    height: 70px;
}

#sponsors .supporter a.sponsor {
    width: auto;
    height: auto;
}

#sponsors .sponsors.platinum {
  font-size: 150%;
}

#sponsors .sponsors.gold {
  font-size: 135%;
}

#sponsors .sponsors.silver {
  font-size: 115%;
}

#sponsors div.platinum img {
}

#sponsors div.platinum h4 {
  font-size: 1em;
  margin-top: 6px;
}

#sponsors h3 {
  text-decoration: none;
}


p img.bio-pic {
  width: 160px;
  float: right;
  clear: right;
  margin-left: 1.5em;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
}
img.bio-pic.landscape {
  height: 160px;
  width: auto;
}



/* Mobile
------------------------------------------------------- */

@media only screen and (max-width:767px) {
    .intro-body .col4 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
    }
    form .icon.mail:before {
      content: "\e653";
      position: absolute !important;
      left: 0px;
    }
}


/* tracks */

.trackicon:before {
  content: "";
  display: inline-block;
  height: 0px;
  width: 0px;
  border: 5px solid;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-right: 8px;
  vertical-align: baseline;
}

.trackicon#track-basics:before {
  border-color: #96E185;
}

.trackicon#track-community:before {
  border-color: #FC9294;
}

.trackicon#track-mapping:before {
  border-color: #FFA5EA;
}

.trackicon#track-cartography:before {
  border-color: #91F7F7;
}

.trackicon#track-software:before {
  border-color: #FFFF99;
}

.trackicon#track-data:before {
  border-color: #FFCF3F;
}

.trackicon#track-experiences:before {
  border-color: #C7C7F9;
}

.trackicon#track-education:before {
  border-color: #FF9EB1;
}

.trackicon#track-academic:before {
  border-color: #dddddd;
}

/* maps */

.map-icon {
  filter: drop-shadow(0 0 2px white);
}

/* tables */
.prose table td,
.prose table th {
    border-color: {{ site.color.links }};
}

.prose table th {
    vertical-align: top;
}

/* schedule table */
table.scheduleTable thead th,
table.scheduleTable tr td:first-child,
table.scheduleTable tr td.scheduleBreak {
    vertical-align: top;
    background-color: {{ site.color.primary-light }};
}
table.scheduleTable tr:first-child th:first-child {
  border-start-start-radius: 4px;
}
table.scheduleTable tr:first-child th:last-child {
  border-start-end-radius: 4px;
}

table.scheduleTable,
table.scheduleTable td,
table.scheduleTable th {
    border: 0;
}
table.scheduleTable th,
table.scheduleTable td.fill-darken0 {
  background-color: #d8d8d8;
}
table.scheduleTable td[rowspan],
table.scheduleTable td.fill-darken0 {
  border-top:    1px solid {{ site.color.primary-light }};
  border-bottom: 1px solid {{ site.color.primary-light }};
}

table.scheduleTable span.speaker,
table.scheduleTable span.extraTag {
    letter-spacing: 0;
    display: block;
}

table.scheduleTable span.speaker {
    margin-top: 5px;
    font-size: 14px;
}

table.scheduleTable span.extraTag {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 100%;
}

td.scheduleBreak {
    text-align: center;
}

table.scheduleTable td a {
    text-decoration: none;
}

/* no recording icons in schedule */
img.noRecordingBright,
img.noRecordingDark {
    display: inline;
}

img.noRecordingBright {
    margin-left: 0px;
}

img.noRecordingDark {
    margin-right: 0px;
    margin-bottom: 0px;
}

table.scheduleTable .chip {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  padding: 3px 4px 0 3px;
}

table.scheduleTable .chip.norecording {
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 4px;
  padding: 4px 3px 4px 3px;
  white-space: nowrap;
}
table.scheduleTable th .chip.norecording {
  background-color: rgba(255, 255, 255, 0.15);
}

/* sessions */
h2.abstract-subtitle {
    margin-top: 20px;
    padding-top: 0px;
}

.abstract-time,
.abstract-room {
    font-size: 20px;
}

.abstract-speaker {
    font-size: 18px;
}

.abstract-speaker,
.abstract-no-recording {
    font-style: italic;
}

.program-page ul.abstract-speaker {
    list-style: none;
    margin-left: 0;
}

/* Attending
--------------------------------------*/
.translation-table span {
    padding-bottom: 10px;
}

.translation-table .section-head {
    font-weight: bold;
    padding-bottom: 10px;
}

/* Q&A
--------------------------------------*/
.qa-page .disclaimer {
    font-style: italic;
    padding-right: 1em;
}

@media only screen and (max-width:767px) {
    .qa-page .disclaimer {
        padding-right: 0;
    }
}

.qa-content ol {
    list-style-type: none;
    list-style-position: outside;
    counter-reset: item;
}

.qa-content ol > li:before {
    counter-increment: item;
    content: counters(item, ".") ". ";
}

/* Pretix ticket widget
--------------------------------------*/
.pretix-widget {
  padding-top: 10px !important;
  border: none !important;
}

/* timezone switcher */

select#city-select {
  background-color: unset;
  border: 1px solid lightgray;
  border-radius: 3px;
}

/* temporary overrides
--------------------------------------*/
@media(min-width:767px) {
  .schedule {
    margin-left: -40px;
  }
}
@media(max-width:766px) {
  .schedule {
    margin-left: 0;
  }
}
