---
layout: page-with-toc-top
title: Programme
titlecontent: ""
headings: "general_Friday,general_Saturday,general_Sunday,breakout"
---

<p id="overview">State of the Map 2026 will take place from <b>August 28-30, 2026</b> in Paris. We created an exciting programme with you—the OpenStreetMap community. For the duration of the conference, there will be rooms set aside for breakout sessions, booked by groups of mutual interest or used without prior planning.</p>
<!--<ul>
  <li><a href="#general_Friday">Friday, 3 October</a>: conference begins with an opening session, followed by a day of presentations and workshops</li>
  <li><a href="#general_Saturday">Saturday, 4 October</a>: day two starts with a special keynote talk and follows with more presentations and workshops</li>
  <li><a href="#general_Sunday">Sunday, 5 October</a>: the final day continues with more talks and workshops plus a whole track of academic talks selected by our scientific committee</li>
</ul>-->

<!--<p>The programme below is still in a preliminary state: talks might still be shifted around by the programme committee and some remaining talks as well as the details of the academic track will be added soon.</p>-->

<p>
  If you would like to use an app to get reminders for talks in the schedule, you can use Giggity on Android (<a href="https://play.google.com/store/apps/details?id=net.gaast.giggity">Play Store</a> / <a href="https://f-droid.org/packages/net.gaast.giggity/">F-Droid</a>). Alternatively, there is also an ICS calendar available <a href="https://sotm.osmz.ru/sotm2026.html">here</a>.
  <ul style="display: grid; grid-template-columns: 1fr 1fr 1fr; list-style-type: none; text-align: center;">
    <li><img width="160px" style="margin-bottom:8px" src="https://sotm.osmz.ru/giggity.png">Get programme app on Google Play</li>
    <li><img width="160px" style="margin-bottom:8px" src="https://sotm.osmz.ru/giggityf.png">Get programme app on F-Droid</li>
    <li><img width="160px" style="margin-bottom:8px" src="https://sotm.osmz.ru/sotm2026.ics.png">Get ICS calendar for other devices/calendar apps</li>
  </ul>
</p>


{% include _timezoneswitcher.html %}
<h3 id="timezone-switcher">🌏 Change Time Zone</h3>
<p>
  Set a time zone to see the programme times at your location:<br>
  <select id="city-select" size="1" onchange="updateTZ(this.value)" style="width:10em">
    <option value="Europe/Paris">Paris</option>
    <option value="UTC">UTC</option>
  </select>
</p>

<div class="schedule" style="margin-top: 40px;">
{% include schedule/_general.html %}
</div>

<h2 id="breakout">Self organized sessions</h2>
<p>
  Besides the main programme of SotM we offer space for self-organized sessions for discussions about topics that well placed in smaller rounds. The only requirement that we have to your topic is that it has to be related to OpenStreetMap. For <em>on-site</em> self-organized sessions, we will set up a white board at the conference venue to reserve a time slot and room. The only requirements we have is that the participants have a conference ticket which grants them access to the conference platform that we use and that they abide to the conference's <a href="/codeofconduct">Code of Conduct</a>.
</p>
<!--<p>
  If you're attending State of the Map 2026 online and would like to organize a session? You can sign up your self-organized session via the wiki!
  <a href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2026/self-organized_sessions">https://wiki.openstreetmap.org/wiki/State_of_the_Map_2025/self-organized_sessions</a>
</p>-->
